body
{
    /* --color_tercero:gold;
    --color_tercero:rgb(11, 202, 19); */
    --color_tercero:rgb(12, 12, 195,0.8);
    --color_segundo:rgb(68, 255, 75, 0.2);
    --color_cuarto: green;
}

::-webkit-scrollbar{width: 7px;}
::-webkit-scrollbar-thumb
{
    background-color: var(--color_tercero);
    border-radius:20px;
}
/* ::-webkit-scrollbar-corner{background-color: red;} */
/* ::-webkit-scrollbar-track {background-color: var();} */

.slick-dots li button:before
{
    font-size:30px !important;
    color:silver !important;
}

.slick-dots li.slick-active button:before
{
    color:rgba(44, 44, 128, 0.8) !important;
}