body{
/* --color_tercero:gold;
--color_tercero:rgb(11, 202, 19); */
--color_tercero:rgb(12, 12, 195,0.8);
--color_segundo:rgb(68, 255, 75, 0.2);
--color_cuarto: green;
}

.slick-dots li button:before
{
    font-size:30px !important;
    color:silver !important;
}

.slick-dots li.slick-active button:before
{
    color:rgba(44, 44, 128, 0.8) !important;
}

.caroucel-img1
{
    max-width:100%;
    min-height:300px !important;
    /* clip-path:inset(0 1% 0 1%); */
    background-image: url(../assets/image/TUNELES_0.jpg);
    background-position: center;
    background-size: cover;
    /* text-align:center; */
    margin:0px !important;
}

.caroucel-actual-img1
{
    max-width:100%;
    min-height:200px !important;
    /* clip-path:inset(0 1% 0 1%); */
    background-image: url(../assets/image/TUNELES_0.jpg);
    background-position: center;
    background-size: cover;
    /* text-align:center; */
    margin:0px !important;
}

.caroucel-slide
{
    /* width:60%; */
    min-height: 300px !important;
    background:rgba(44, 44, 128, 0.7);
    /* text-align:center; */
}

h2 ,.slide-text , .slide-button>a
{
    color:white;
}

h2
{
    margin:0px;
}

.slide-text
{
}

.slide-button
{
    /* border:1px solid; */
    padding: 4px 8px 4px 8px;
    background:rgba(0, 193, 0);
    text-align:center;
    /* width: max-content; */
}

.color-slide
{
}

.card-negocio
{
    padding:3px;
    margin-bottom: 15px;
    background: linear-gradient(to right, white 50%, var(--color_segundo) 50%);
    background-size: 200% 100%;
    transition:all 1s ease;
    border-left: 1px solid var(--color_tercero);
}

.card-negocio:hover
{
    background-position:right bottom;
    border-radius: 0px 30px 30px 0px;
    /* padding: 0px; */
    /* border:0x 1px 1px 0px; */
    border-right: 1px solid var(--color_tercero);
    /* border-top: 1px solid var(--color_tercero);
    border-bottom: 1px solid var(--color_tercero); */
}

@media screen and (min-width:300px)
{
    .card-negocio>h6
    {
        width:80%;
    }
}

@media screen and (min-width:600px)
{
    .card-negocio>h6
    {
        width:70%;
    }
}

@media screen and (min-width:990px)
{
    .card-negocio>h6
    {
        width:65%;
    }
}

/* @media screen and (min-width:1000px)
{
    .card-negocio>h6
    {
        width:70%;
    }
} */

.card-negocio>h6
{
    text-transform: uppercase;
    /* width: 80%; */
    display: inline-block;
    /* font-size: 15px; */
    /* vertical-align: middle; */
    padding: 0px 0px 0px 5px;
    margin: 0px;
}

.card-negocio:hover>h6
{
    color:silver;
}

.card-negocio>i
{
    /* border:1px solid var(--color_tercero); */
    /* border-radius:50%; */
    padding:13px;
    font-size: xx-large;
}

.card-negocio:hover>i
{
    color: var(--color_cuarto);
    border:0px;
    /* border-radius: 30px; */
    /* border-left:1px solid var(--color_tercero); */
}

.card-actualidad
{
    height: 300px !important;
    border-radius: 5px;
    border:1px solid var(--color_tercero);
    margin-left:20px;
    cursor: pointer;
    margin-bottom: 15px;
    /* display: inline-block; */
    background: linear-gradient(to right, white 50%, var(--color_segundo) 50%);
    background-size: 200% 100%;
    transition:all 1s ease;
}

.card-actualidad:hover
{
    background-position:right bottom;
    /* background: var(--color_segundo); */
    /* transition: background 0.8s linear 0.2s; */
    /* background: linear-gradient(to right, red 50%, blue 50%);
    background-size: 200% 100%;
    transition:all 2s ease; */
}

.actualidad_fecha
{
    color:silver;
}

.cortar-actualidad
{
    padding: 3px;
    --font-size: 15px;
    --line-height: 1.4;
    --lines: 3;
    display: -webkit-box;
    /* height: var(--font-size)* var(--line-height) * var(--lines); */
    font-size: var(--font-size);
    /* line-height: var(--line-height); */
    -webkit-line-clamp: var(--lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}