#info
{
    text-align:justify;
}

.moreInfo_card
{
    /* border-top:4px solid gold; */
    margin: 0px;
    padding: 0px;
}

.moreInfo_image
{
    /* width:100%; */
    padding: 0px 10px 0px 0px !important;
    margin: 0px !important;
}

.moreInfo_title
{
    text-transform: uppercase;
}

/* materialize */
.progress
{
    margin:0px;
    background-color: var(--color_segundo);
}
.indeterminate
{
    background-color: var(--color_tercero);
}